@* @model Rentacar.Areas.Customer.ViewModels.ShoppingCartViewModel *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* *@
@* <form method="post"> *@
@*     <br/> *@
@*     @if (Model.ListCar.Count > 0) *@
@*     { *@
@*         <div class="backgroundWhiteBorder"> *@
@*             <div class="container"> *@
@*                 <div class="card"> *@
@*                     <div class="card-header bg-primary text-light ml-0 row container"> *@
@*                         <div class="col-6"> *@
@*                             <h1> Overzicht </h1> *@
@*                         </div> *@
@*                         <div class="col-6 text-right"> *@
@*                             <h3> *@
@*                                 <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn" style="font-size: 20px; margin-top: 6px;">Terug naar Winkelmand</a> *@
@*                             </h3> *@
@*                         </div> *@
@*                     </div> *@
@* *@
@*                     <div class="card-body"> *@
@*                         <div class="container rounded p-2"></div> *@
@* *@
@*                     </div> *@
@*                      *@
@*                     <div class="card-footer"> *@
@*                         <div class="card-footer row"> *@
@*                             <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 "> *@
@*                                 <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Overzicht</a> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@*     else *@
@*     { *@
@*         <div> *@
@*             <h1>Geen Auto's in de winkelmand!</h1> *@
@*         </div> *@
@*     } *@
@* </form> *@
@model Rentacar.Areas.Customer.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form method="post">
    <br/>
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary text-light ml-0 row container">
                    <div class="col-6">
                        <h1> Besteloverzicht </h1>
                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn" style="font-size: 20px; margin-top: 6px;">Terug naar de winkelmand</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Klanten Gegevens:</span>
                                    </h4>
                                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                                        <span lass="text-info"> Vul hier uw gegevens in, of update uw account gegevens: <a asp-area="Customer" asp-controller="CustomerUser" asp-action="ChangeProfile">Account Updaten</a></span>
                                    </h5><br/>


                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Naam:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Firstname" type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Firstname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Achternaam:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Surname" type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Surname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Adres:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Address"type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Postcode:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Postalcode" type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Postalcode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Woonplaats:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Residence" type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Residence" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Huisnummer:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Housenumber" type="text" disabled class="form-control"/>
                                        <span asp-validation-for="User.Housenumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Besteloverzicht:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{ var total = 0.0; }
                                    @{
                                        foreach (var car in Model.ListCar)
                                        {
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <div>
                                                    <input type="hidden" asp-for="@car.Id"/>
                                                    <h5 class="my-0">@car.Title</h5>
                                                    <small class="text-muted">Merk:&nbsp; @car.Brand.Type</small>
                                                </div>

                                                <small class="text-info">Prijs:&nbsp; @($"{car.CurrentPrice:C}")</small>
                                                @{ total += car.CurrentPrice; }
                                            </li>
                                        }

                                    }
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <small class="text-info">Totaal (EUR)</small>
                                        <strong class="text-info">@($"{total:C}")</strong>
                                    </li>
                                    <br>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Start Datum</label>
                                        <div class="col-sm-10">
                                            <input asp-for="RentDate" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Eind Datum</label>
                                        <div class="col-sm-10">
                                            <input asp-for="RentDate" type="date" class="form-control">
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <button type="submit" value="Plaats Bestelling" class="btn btn-success form-control">Plaats Bestelling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>