@using System.Net.Mime
@using Microsoft.AspNetCore.Identity
@model Rentacar.Areas.Admin.ViewModels.SignUpViewModel
@using Rentacar.Utility

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roles = new List<string> {"Memeer", "Admin"};
}

<h1>SignUp</h1>

<h4>SignUpViewModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
@*              @if (User.IsInRole(SD.Admin)) *@
@*              { *@
@*                  *@
@*              } *@
             
             
              <div class="form-group">
                                  <label asp-for="Role"></label>
                                  @Html.DropDownListFor(m => m.Role, Model.RoleList, "Kies hier een Role", new {@class ="form-control"})
                              </div>
             @* <div class="form-group row"> *@
            @*     $1$ <div class="col-4"></div> #1# *@
            @*     <div class="col-12"> *@
            @*         | *@
            @*         <input type="radio" name="rdUserRole" value="@SD.Admin" />@SD.Admin *@
            @*         $1$ <input type="radio" name="rdUserRole" value="@SD.User" />@SD.User #1# *@
            @*         <input type="radio" name="rdUserRole" value="@SD.Employee" />@SD.Employee *@
            @*     </div> *@
            @* </div> *@
@*             @if (User.IsInRole(SD.Admin)) *@
@*             { *@
@* *@
@*             } *@
            @* <div class="form-group"> *@
            @*     <label asp-for="Role"></label> *@
            @*     @Html.DropDownListFor(x => x.RoleList, _UserManager.Roles.Where(u => u.Email != SD.User).Select(x => x.Email).Select(i => new SelectListItem {Text = i, Value = i}))); *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SignIn">Back to List</a>
</div>